// Google Font
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700,900);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  font-family: "Roboto", sans-serif;
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
